In [1]:
import math                      
import matplotlib.pyplot as plt  
import scipy                     
import cv2                       
import numpy as np               
import glob                     
import os                        
import pandas as pd              
import tensorflow as tf       
import itertools
import random
from random import shuffle       
from tqdm import tqdm           
from PIL import Image
from scipy import ndimage
from pathlib import Path
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import metrics
from keras.layers import Conv2D, MaxPooling2D, Activation, Dropout, Flatten, Dense, GRU
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
import re

## Reading the dataset from link

In [2]:
path = '/content/sentiment labelled sentences/'

In [3]:
zip_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00331/sentiment%20labelled%20sentences.zip'
import requests, zipfile, io
r = requests.get(zip_url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [4]:
df_yelp = pd.read_csv(path+'yelp_labelled.txt', sep = '\t', header = None, names=['review', 'is_positive'])
df_yelp.head()

                                              review  is_positive
0                           Wow... Loved this place.            1
1                                 Crust is not good.            0
2          Not tasty and the texture was just nasty.            0
3  Stopped by during the late May bank holiday of...            1
4  The selection on the menu was great and so wer...            1

In [5]:
len(df_yelp)

1000

In [6]:
# Making sure all reviews have lowercase
df_yelp['review'] = df_yelp['review'].str.lower()

In [7]:
df_yelp.head()

                                              review  is_positive
0                           wow... loved this place.            1
1                                 crust is not good.            0
2          not tasty and the texture was just nasty.            0
3  stopped by during the late may bank holiday of...            1
4  the selection on the menu was great and so wer...            1

In [ ]:
print(len(df_yelp[df_yelp['is_positive'] == 1]))
print(len(df_yelp[df_yelp['is_positive'] == 0]))

500
500

### LSTM/RNN Text classification

In [8]:
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(df_yelp['review'].values)
X = tokenizer.texts_to_sequences(df_yelp['review'].values)
X = pad_sequences(X)
X

array([[  0,   0,   0, ..., 165,   8,  15],
       [  0,   0,   0, ...,   7,  12,  16],
       [  0,   0,   0, ...,   4,  46, 430],
       ...,
       [  0,   0,   0, ...,  12,  38,  31],
       [  0,   0,   0, ..., 137, 159,  40],
       [  0,   0,   0, ..., 347,   1, 248]], dtype=int32)

In [ ]:
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

WARNING:tensorflow:Layer lstm_3 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 32, 128)           256000

 spatial_dropout1d_3 (Spatia  (None, 32, 128)          0
 lDropout1D)

 lstm_3 (LSTM)               (None, 196)               254800

 dense_6 (Dense)             (None, 1)                 197

=================================================================
Total params: 510,997
Trainable params: 510,997
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
Y = df_yelp['is_positive']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(800, 32) (800,)
(200, 32) (200,)

In [ ]:
batch_size = 32
model.fit(X_train, Y_train, epochs = 7, batch_size=batch_size, verbose = 2)

Epoch 1/7
25/25 - 3s - loss: 0.6898 - accuracy: 0.5188 - 3s/epoch - 121ms/step
Epoch 2/7
25/25 - 1s - loss: 0.6145 - accuracy: 0.7337 - 1s/epoch - 55ms/step
Epoch 3/7
25/25 - 1s - loss: 0.4344 - accuracy: 0.8400 - 1s/epoch - 55ms/step
Epoch 4/7
25/25 - 1s - loss: 0.2608 - accuracy: 0.9150 - 1s/epoch - 54ms/step
Epoch 5/7
25/25 - 1s - loss: 0.1963 - accuracy: 0.9350 - 1s/epoch - 56ms/step
Epoch 6/7
25/25 - 1s - loss: 0.0979 - accuracy: 0.9725 - 1s/epoch - 54ms/step
Epoch 7/7
25/25 - 1s - loss: 0.0570 - accuracy: 0.9912 - 1s/epoch - 54ms/step

In [ ]:
train_score, train_accuracy = model.evaluate(X_train, Y_train, verbose = 2, batch_size = batch_size)
test_loss, test_accuracy= model.evaluate(X_test, Y_test, verbose = 2, batch_size = batch_size)
print(f'Train Score for the first model: {round(train_score, 4)}')
print(f'Train accuracy for the first model: {round(train_accuracy*100, 2)}%')
print(f'Test loss for the first model: {round(test_loss, 4)}')
print(f'Test accuracy for the first model: {round(test_accuracy*100, 2)}%')

25/25 - 0s - loss: 0.0324 - accuracy: 0.9950 - 284ms/epoch - 11ms/step
7/7 - 0s - loss: 0.6142 - accuracy: 0.7850 - 90ms/epoch - 13ms/step
Train Score for the first model: 0.0324
Train accuracy for the first model: 99.5%
Test loss for the first model: 0.6142
Test accuracy for the first model: 78.5%

In [ ]:
results = model.predict(X_test, verbose = 2, batch_size = batch_size)

7/7 - 0s - 91ms/epoch - 13ms/step

In [ ]:
# Get predictions on test set

results_pred = [int(np.round(i)) for i in results]

x_test_word = tokenizer.sequences_to_texts(X_test)

test_results = pd.DataFrame({
    'Review': x_test_word,
    'Prediction': results_pred
    , 'Actual': Y_test.reset_index(drop=True)
})

test_results['Correct'] = test_results['Prediction'] == test_results['Actual']
misclassified = test_results[test_results['Correct']==False]
misclassified.head(10)

,Review,Prediction,Actual,Correct
0,if you haven't gone here go now,0,1,False
14,the meat was pretty dry i had the sliced brisk...,1,0,False
16,i went to bachi burger on a friend's recommend...,0,1,False
22,they dropped more than the ball,1,0,False
26,the only good thing was our waiter he was very...,0,1,False
28,the buffet at bellagio was far from what i ant...,1,0,False
30,this place is like chipotle but better,0,1,False
40,i go to far too many places and i've never see...,1,0,False
41,will be back again,0,1,False
45,the goat taco didn't skimp on the meat and wow...,0,1,False

Second model

In [ ]:
max_fatures2 = 2000
tokenizer2 = Tokenizer(num_words=max_fatures, split=' ')
tokenizer2.fit_on_texts(df_yelp['review'].values)
X2 = tokenizer.texts_to_sequences(df_yelp['review'].values)
X2 = pad_sequences(X2)

In [ ]:
embed_dim2 = 140
lstm_out2 = 200

model2 = Sequential()
model2.add(Embedding(max_fatures2, embed_dim2,input_length = X2.shape[1]))
model2.add(SpatialDropout1D(0.2))
model2.add(LSTM(lstm_out2, dropout=0.4, recurrent_dropout=0.2))
model2.add(Dense(20,activation='sigmoid'))
model2.add(Dense(1,activation='sigmoid'))
model2.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model2.summary())

WARNING:tensorflow:Layer lstm_6 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_6 (Embedding)     (None, 32, 140)           280000

 spatial_dropout1d_6 (Spatia  (None, 32, 140)          0
 lDropout1D)

 lstm_6 (LSTM)               (None, 200)               272800

 dense_11 (Dense)            (None, 20)                4020

 dense_12 (Dense)            (None, 1)                 21

=================================================================
Total params: 556,841
Trainable params: 556,841
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X, Y, test_size = 0.3, random_state = 50)
print(X_train2.shape,Y_train2.shape)
print(X_test2.shape,Y_test2.shape)

(700, 32) (700,)
(300, 32) (300,)

In [ ]:
batch_size2 = 40
model2.fit(X_train2, Y_train2, epochs = 5, batch_size=batch_size2, verbose = 2)

Epoch 1/5
18/18 - 16s - loss: 0.7628 - accuracy: 0.4871 - 16s/epoch - 889ms/step
Epoch 2/5
18/18 - 2s - loss: 0.6980 - accuracy: 0.5071 - 2s/epoch - 132ms/step
Epoch 3/5
18/18 - 2s - loss: 0.6901 - accuracy: 0.5243 - 2s/epoch - 131ms/step
Epoch 4/5
18/18 - 2s - loss: 0.6855 - accuracy: 0.5486 - 2s/epoch - 133ms/step
Epoch 5/5
18/18 - 2s - loss: 0.6659 - accuracy: 0.6086 - 2s/epoch - 132ms/step

In [ ]:
train_score2, train_accuracy2 = model2.evaluate(X_train2, Y_train2, verbose = 2, batch_size = batch_size2)
test_loss2, test_accuracy2= model2.evaluate(X_test2, Y_test2, verbose = 2, batch_size = batch_size2)
print(f'Train Score for the second model: {round(train_score2, 4)}')
print(f'Train accuracy for the second model: {round(train_accuracy2*100, 2)}%')
print(f'Test loss for the second model: {round(test_loss2, 4)}')
print(f'Test accuracy for the second model: {round(test_accuracy2*100, 2)}%')

18/18 - 0s - loss: 0.6414 - accuracy: 0.8057 - 207ms/epoch - 11ms/step
8/8 - 0s - loss: 0.6793 - accuracy: 0.5967 - 102ms/epoch - 13ms/step
Train Score for the second model: 0.6414
Train accuracy for the second model: 80.57%
Test loss for the second model: 0.6793
Test accuracy for the second model: 59.67%

In [ ]:
validation_size2 = 150

X_validate2 = X_test2[-validation_size2:]
Y_validate2 = Y_test2[-validation_size2:]
X_test2 = X_test2[-validation_size2:]
Y_test2 = Y_test2[-validation_size2:]
score2,acc2 = model2.evaluate(X_test2, Y_test2, verbose = 2, batch_size = batch_size2)
print("score: %.2f" % (score2))
print("acc: %.2f" % (acc2))

4/4 - 0s - loss: 0.6752 - accuracy: 0.6267 - 59ms/epoch - 15ms/step
score: 0.68
acc: 0.63

In [ ]:
results2 = model2.predict(X_test2, verbose = 2, batch_size = batch_size2)

4/4 - 0s - 263ms/epoch - 66ms/step

In [ ]:
# Get predictions on test set

results_pred2 = [int(np.round(i)) for i in results2]

x_test_word2 = tokenizer.sequences_to_texts(X_test2)

test_results2 = pd.DataFrame({
    'Review': x_test_word2,
    'Prediction': results_pred2
    , 'Actual': Y_test2.reset_index(drop=True)
})

test_results2['Correct'] = test_results2['Prediction'] == test_results2['Actual']
misclassified2 = test_results2[test_results2['Correct']==False]
misclassified2.head(10)

,Review,Prediction,Actual,Correct
1,this was my first and only vegas buffet and it...,0,1,False
2,nice blanket of moz over top but i feel like t...,0,1,False
3,their regular toasted bread was equally satisf...,0,1,False
4,both of them were truly unbelievably good and ...,0,1,False
5,it was not good,1,0,False
21,on the up side their cafe serves really good food,0,1,False
22,i love the fact that everything on their menu ...,0,1,False
25,the sweet potato fries were very good and seas...,0,1,False
33,the food is delicious and just spicy enough so...,0,1,False
35,service was excellent and prices are pretty re...,0,1,False

Third model

In [ ]:
max_fatures3 = 2000
tokenizer3 = Tokenizer(num_words=max_fatures, split=' ')
tokenizer3.fit_on_texts(df_yelp['review'].values)
X3 = tokenizer.texts_to_sequences(df_yelp['review'].values)
X3 = pad_sequences(X3)

In [ ]:
embed_dim3 = 150
lstm_out3 = 190

model3 = Sequential()
model3.add(Embedding(max_fatures3, embed_dim3,input_length = X3.shape[1]))
model3.add(SpatialDropout1D(0.6))
model3.add(LSTM(lstm_out3, dropout=0.8, recurrent_dropout=0.7))
model3.add(Dense(10,activation='sigmoid'))
model3.add(Dense(5,activation='sigmoid'))
model3.add(Dense(1,activation='sigmoid'))
model3.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model3.summary())

WARNING:tensorflow:Layer lstm_7 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_7 (Embedding)     (None, 32, 150)           300000

 spatial_dropout1d_7 (Spatia  (None, 32, 150)          0
 lDropout1D)

 lstm_7 (LSTM)               (None, 190)               259160

 dense_13 (Dense)            (None, 10)                1910

 dense_14 (Dense)            (None, 5)                 55

 dense_15 (Dense)            (None, 1)                 6

=================================================================
Total params: 561,131
Trainable params: 561,131
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
X_train3, X_test3, Y_train3, Y_test3 = train_test_split(X, Y, test_size = 0.2, random_state = 50)
print(X_train3.shape,Y_train3.shape)
print(X_test3.shape,Y_test3.shape)

(800, 32) (800,)
(200, 32) (200,)

In [ ]:
batch_size3 = 50
model3.fit(X_train3, Y_train3, epochs = 7, batch_size=batch_size3, verbose = 2)

Epoch 1/7
16/16 - 3s - loss: 0.6939 - accuracy: 0.5063 - 3s/epoch - 165ms/step
Epoch 2/7
16/16 - 1s - loss: 0.6929 - accuracy: 0.5063 - 905ms/epoch - 57ms/step
Epoch 3/7
16/16 - 1s - loss: 0.6921 - accuracy: 0.5125 - 903ms/epoch - 56ms/step
Epoch 4/7
16/16 - 1s - loss: 0.6897 - accuracy: 0.5738 - 937ms/epoch - 59ms/step
Epoch 5/7
16/16 - 1s - loss: 0.6850 - accuracy: 0.5938 - 938ms/epoch - 59ms/step
Epoch 6/7
16/16 - 1s - loss: 0.6715 - accuracy: 0.6550 - 907ms/epoch - 57ms/step
Epoch 7/7
16/16 - 1s - loss: 0.6594 - accuracy: 0.6925 - 935ms/epoch - 58ms/step

In [ ]:
train_score3, train_accuracy3 = model3.evaluate(X_train3, Y_train3, verbose = 2, batch_size = batch_size3)
test_loss3, test_accuracy3= model3.evaluate(X_test3, Y_test3, verbose = 2, batch_size = batch_size3)
print(f'Train Score for the third model: {round(train_score3, 4)}')
print(f'Train accuracy for the third model: {round(train_accuracy3*100, 2)}%')
print(f'Test loss for the third model: {round(test_loss3, 4)}')
print(f'Test accuracy for the third model: {round(test_accuracy3*100, 2)}%')

16/16 - 0s - loss: 0.6405 - accuracy: 0.8150 - 197ms/epoch - 12ms/step
4/4 - 0s - loss: 0.6616 - accuracy: 0.6900 - 57ms/epoch - 14ms/step
Train Score for the third model: 0.6405
Train accuracy for the third model: 81.5%
Test loss for the third model: 0.6616
Test accuracy for the third model: 69.0%

In [ ]:
results3 = model3.predict(X_test3, verbose = 2, batch_size = batch_size3)

4/4 - 0s - 265ms/epoch - 66ms/step

In [ ]:
# Get predictions on test set

results_pred3 = [int(np.round(i)) for i in results3]

x_test_word3 = tokenizer.sequences_to_texts(X_test3)

test_results3 = pd.DataFrame({
    'Review': x_test_word3,
    'Prediction': results_pred3
    , 'Actual': Y_test3.reset_index(drop=True)
})

test_results3['Correct'] = test_results3['Prediction'] == test_results3['Actual']
misclassified3 = test_results3[test_results3['Correct']==False]
misclassified3.head(10)

,Review,Prediction,Actual,Correct
4,i in the bathroom mid lunch,1,0,False
9,i always order from the vegetarian menu during...,0,1,False
14,i hope this place sticks around,0,1,False
16,the sweet potato tots were good but the onion ...,0,1,False
17,i will come back here every time i'm in vegas,0,1,False
24,we had a group of 70 when we claimed we would ...,0,1,False
30,first time there and might just be the last,1,0,False
33,every time i eat here i see caring teamwork to...,0,1,False
36,i can assure you that you won't be disappointed,0,1,False
50,the food came out at a good pace,0,1,False

##Sentiment Prediction using naive Bayes

### Multinomial NaiveBayes

In [ ]:
X = df_yelp['review']
Y = df_yelp['is_positive']

In [ ]:
# Converting reviews into count vectors 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv.fit(X)
print(cv.vocabulary_)

{'wow': 2012, 'loved': 1046, 'this': 1798, 'place': 1330, 'crust': 427, 'is': 943, 'not': 1195, 'good': 764, 'tasty': 1761, 'and': 64, 'the': 1780, 'texture': 1774, 'was': 1940, 'just': 967, 'nasty': 1169, 'stopped': 1699, 'by': 264, 'during': 557, 'late': 991, 'may': 1087, 'bank': 139, 'holiday': 867, 'off': 1208, 'rick': 1488, 'steve': 1691, 'recommendation': 1444, 'it': 945, 'selection': 1560, 'on': 1221, 'menu': 1110, 'great': 778, 'so': 1630, 'were': 1965, 'prices': 1374, 'now': 1198, 'am': 57, 'getting': 746, 'angry': 66, 'want': 1934, 'my': 1162, 'damn': 439, 'pho': 1316, 'honeslty': 870, 'didn': 484, 'taste': 1757, 'that': 1778, 'fresh': 713, 'potatoes': 1362, 'like': 1016, 'rubber': 1505, 'you': 2027, 'could': 396, 'tell': 1766, 'they': 1788, 'had': 805, 'been': 167, 'made': 1061, 'up': 1883, 'ahead': 44, 'of': 1207, 'time': 1809, 'being': 173, 'kept': 969, 'under': 1866, 'warmer': 1938, 'fries': 719, 'too': 1824, 'touch': 1833, 'service': 1573, 'very': 1911, 'prompt': 1386, 'would': 2009, 'go': 757, 'back': 130, 'cashier': 295, 'no': 1188, 'care': 286, 'what': 1967, 'ever': 606, 'to': 1814, 'say': 1538, 'still': 1693, 'ended': 586, 'wayyy': 1953, 'overpriced': 1257, 'tried': 1846, 'cape': 282, 'cod': 349, 'ravoli': 1426, 'chicken': 321, 'with': 1991, 'cranberry': 412, 'mmmm': 1133, 'disgusted': 508, 'because': 164, 'pretty': 1371, 'sure': 1738, 'human': 892, 'hair': 807, 'shocked': 1587, 'signs': 1605, 'indicate': 924, 'cash': 293, 'only': 1226, 'highly': 858, 'recommended': 1445, 'waitress': 1929, 'little': 1026, 'slow': 1620, 'in': 916, 'worth': 2008, 'your': 2028, 'let': 1006, 'alone': 53, 'vegas': 1899, 'did': 483, 'at': 105, 'all': 49, 'burrittos': 255, 'blah': 199, 'food': 697, 'amazing': 58, 'also': 54, 'cute': 437, 'less': 1005, 'interior': 939, 'beautiful': 161, 'performed': 1306, 'right': 1490, 'red': 1447, 'velvet': 1904, 'cake': 270, 'ohhh': 1213, 'stuff': 1711, 'never': 1180, 'brought': 240, 'salad': 1516, 'we': 1954, 'asked': 102, 'for': 700, 'hole': 866, 'wall': 1932, 'has': 825, 'mexican': 1115, 'street': 1704, 'tacos': 1747, 'friendly': 717, 'staff': 1674, 'took': 1825, 'an': 63, 'hour': 885, 'get': 744, 'our': 1243, 'tables': 1745, 'restaurant': 1472, 'luke': 1056, 'warm': 1937, 'sever': 1578, 'running': 1508, 'around': 94, 'he': 834, 'totally': 1831, 'overwhelmed': 1258, 'worst': 2007, 'salmon': 1518, 'sashimi': 1529, 'there': 1786, 'are': 89, 'combos': 357, 'burger': 252, 'beer': 168, '23': 10, 'which': 1974, 'decent': 448, 'deal': 446, 'final': 669, 'blow': 208, 'found': 706, 'accident': 28, 'be': 156, 'happier': 820, 'seems': 1558, 'quick': 1408, 'grab': 771, 'bite': 195, 'some': 1635, 'familiar': 641, 'pub': 1394, 'but': 261, 'do': 515, 'yourself': 2029, 'favor': 652, 'look': 1036, 'elsewhere': 580, 'overall': 1254, 'lot': 1042, 'redeeming': 1448, 'quality': 1406, 'inexpensive': 927, 'ample': 62, 'portions': 1357, 'poor': 1352, 'waiter': 1927, 'me': 1090, 'feel': 655, 'stupid': 1713, 'every': 607, 'came': 276, 'table': 1744, 'first': 677, 'visit': 1917, 'hiro': 862, 'delight': 466, 'sucks': 1724, 'shrimp': 1600, 'tender': 1769, 'moist': 1135, 'enough': 591, 'drag': 535, 'into': 940, 'establishment': 598, 'again': 42, 'hard': 822, 'judge': 963, 'whether': 1973, 'these': 1787, 'sides': 1603, 'grossed': 791, 'out': 1245, 'melted': 1107, 'styrofoam': 1715, 'eat': 562, 'fear': 654, 'sick': 1601, 'positive': 1358, 'note': 1196, 'server': 1570, 'attentive': 112, 'provided': 1391, 'frozen': 722, 'pucks': 1397, 'disgust': 507, 'people': 1301, 'behind': 172, 'register': 1455, 'thing': 1791, 'prime': 1377, 'rib': 1484, 'dessert': 479, 'section': 1555, 'bad': 132, 'generic': 741, 'beef': 166, 'cooked': 386, 'if': 904, 'sandwich': 1526, 'any': 70, 'firehouse': 676, 'side': 1602, 'greek': 781, 'dressing': 541, 'pita': 1327, 'hummus': 894, 'refreshing': 1452, 'ordered': 1235, 'duck': 553, 'rare': 1416, 'pink': 1325, 'inside': 932, 'nice': 1183, 'char': 305, 'outside': 1249, 'after': 40, 'us': 1887, 'when': 1970, 'realized': 1432, 'husband': 898, 'left': 1000, 'his': 863, 'sunglasses': 1735, 'their': 1782, 'chow': 331, 'mein': 1104, 'have': 830, 'horrible': 879, 'attitudes': 113, 'towards': 1836, 'customers': 434, 'talk': 1751, 'down': 531, 'each': 560, 'one': 1223, 'don': 520, 'enjoy': 588, 'portion': 1356, 'huge': 891, 'servers': 1571, 'wonderful': 1995, 'imaginative': 909, 'heart': 839, 'attack': 110, 'grill': 785, 'downtown': 534, 'absolutely': 26, 'flat': 681, 'lined': 1022, 'excuse': 616, 'much': 1153, 'seafood': 1546, 'strings': 1707, 'pasta': 1285, 'bottom': 221, 'amount': 61, 'sauce': 1534, 'over': 1253, 'power': 1365, 'scallop': 1541, 'perfectly': 1305, 'ripped': 1493, 'banana': 138, 'petrified': 1312, 'tasteless': 1759, 'least': 996, 'think': 1793, 'refill': 1450, 'water': 1948, 'before': 170, 'struggle': 1710, 'wave': 1950, '10': 1, 'minutes': 1126, 'receives': 1440, 'stars': 1678, 'appetizers': 86, 'cocktails': 347, 'handmade': 816, 'delicious': 464, 'definitely': 459, 'here': 851, 'glad': 752, 'give': 749, 'military': 1121, 'discount': 504, 'always': 56, 'dos': 525, 'gringos': 787, 'update': 1884, 'went': 1964, 'second': 1554, 'as': 100, 'got': 768, 'apparently': 82, 'heard': 838, 'salt': 1521, 'batter': 153, 'fish': 678, 'chewy': 320, 'way': 1951, 'finish': 674, 'included': 918, 'tastings': 1760, 'drinks': 546, 'jeff': 953, 'above': 24, 'beyond': 183, 'expected': 620, 'really': 1433, 'rice': 1486, 'meh': 1103, '30': 11, 'min': 1124, 'milkshake': 1123, 'nothing': 1197, 'more': 1143, 'than': 1776, 'chocolate': 328, 'milk': 1122, 'guess': 797, 'should': 1595, 'known': 979, 'suck': 1721, 'excalibur': 612, 'use': 1888, 'common': 361, 'sense': 1564, 'dish': 510, 'quite': 1411, 'appalling': 81, 'value': 1894, 'well': 1963, 'times': 1810, 'customer': 433, 'sweet': 1742, 'potato': 1361, 'seasoned': 1549, 'today': 1817, 've': 1896, 'lunch': 1058, 'buffet': 246, 'cheated': 311, 'wasting': 1945, 'eating': 564, 'opportunity': 1230, 'going': 760, 'company': 363, 'coming': 360, 'experiencing': 624, 'underwhelming': 1869, 'relationship': 1459, 'where': 1972, 'both': 219, 'parties': 1281, 'can': 278, 'wait': 1925, 'other': 1239, 'person': 1309, 'ask': 101, 'break': 231, 'walked': 1931, 'smelled': 1625, 'old': 1216, 'grease': 776, 'trap': 1842, 'others': 1240, 'turkey': 1858, 'roast': 1495, 'bland': 201, 'pan': 1270, 'cakes': 271, 'everyone': 608, 'raving': 1425, 'about': 23, 'sugary': 1727, 'disaster': 502, 'tailored': 1748, 'palate': 1267, 'six': 1615, 'year': 2021, 'love': 1045, 'spring': 1672, 'rolls': 1500, 'oh': 1212, 'yummy': 2033, 'try': 1853, 'meat': 1095, 'ratio': 1423, 'tenders': 1770, 'unsatisfying': 1878, 'omelets': 1219, 'die': 485, 'everything': 609, 'summary': 1731, 'largely': 986, 'disappointing': 499, 'dining': 490, 'experience': 622, 'sexy': 1581, 'party': 1282, 'mouth': 1147, 're': 1427, 'outrageously': 1247, 'flirting': 688, 'hottest': 884, 'rock': 1497, 'casino': 296, 'will': 1984, 'step': 1689, 'forward': 705, 'best': 180, 'breakfast': 232, 'bye': 265, 'tip': 1812, 'lady': 984, 'll': 1030, 'arrived': 96, 'quickly': 1409, 'cafe': 268, 'serves': 1572, 'fantastic': 646, 'wife': 1982, 'loves': 1050, 'roasted': 1496, 'garlic': 736, 'bone': 215, 'marrow': 1083, 'added': 38, 'extra': 628, 'meal': 1091, 'another': 68, 'helpful': 849, 'bloddy': 205, 'mary': 1085, 'town': 1837, 'price': 1372, 'cannot': 280, 'beat': 159, 'mussels': 1160, 'wine': 1985, 'reduction': 1449, 'dishes': 511, 'better': 181, 'buffets': 247, 'tigerlilly': 1808, 'afternoon': 41, 'bartender': 145, 'personable': 1310, 'ambience': 60, 'music': 1159, 'playing': 1340, 'next': 1182, 'trip': 1848, 'sooooo': 1645, 'real': 1431, 'sushi': 1741, 'lovers': 1049, 'honest': 871, 'yama': 2018, '40min': 15, 'passed': 1283, 'between': 182, 'ordering': 1236, 'arriving': 98, 'wasn': 1942, 'busy': 260, 'thai': 1775, 'spicy': 1666, 'check': 312, 'gross': 790, 'atmosphere': 107, 'kind': 976, 'mess': 1113, 'steak': 1685, 'although': 55, 'liked': 1017, 'sound': 1650, 'actual': 36, 'bit': 193, 'know': 978, 'how': 888, 'managed': 1074, 'served': 1569, 'blandest': 202, 'eaten': 563, 'preparing': 1369, 'indian': 923, 'cuisine': 431, 'boot': 217, 'worries': 2005, 'fine': 672, 'guys': 801, 'steaks': 1687, 'loving': 1051, 'son': 1641, 'who': 1977, 'places': 1332, 'said': 1515, 'thought': 1802, 'venture': 1906, 'further': 731, 'away': 120, 'hit': 864, 'spot': 1669, 'night': 1185, 'host': 881, 'lack': 980, 'word': 1997, 'bitches': 194, 'liking': 1019, 'number': 1200, 'reasons': 1437, 'waste': 1943, 'reviewing': 1479, 'leave': 998, 'phenomenal': 1314, 'ambiance': 59, 'wouldn': 2010, 'return': 1474, 'venturing': 1907, 'strip': 1708, 'pork': 1355, 'belly': 177, 'mediocre': 1099, 'penne': 1300, 'vodka': 1919, 'excellent': 614, 'including': 919, 'massive': 1086, 'meatloaf': 1097, 'crispy': 421, 'wrap': 2013, 'delish': 469, 'tuna': 1857, 'melt': 1106, 'burgers': 253, 'management': 1075, 'rude': 1506, 'nyc': 1203, 'bagels': 133, 'selections': 1561, 'cream': 416, 'cheese': 315, 'lox': 1053, 'capers': 283, 'even': 602, 'subway': 1718, 'fact': 634, 'come': 358, 'meet': 1102, 'expectations': 619, 'seriously': 1566, 'solid': 1633, 'bars': 144, 'extremely': 630, 'many': 1079, 'restaurants': 1473, 'dine': 489, 'weekend': 1959, 'drink': 544, 'empty': 584, 'suggestions': 1729, 'or': 1233, 'rarely': 1417, 'checked': 313, 'ate': 106, 'disappointed': 498, 'curry': 432, 'bamboo': 137, 'shoots': 1589, 'blanket': 203, 'moz': 1151, 'top': 1826, 'done': 521, 'cover': 405, 'subpar': 1717, 'bathrooms': 152, 'clean': 340, 'itself': 949, 'decorated': 453, 'changing': 304, 'considering': 377, 'pace': 1263, 'thumbs': 1806, 'watched': 1947, 'pay': 1292, 'attention': 111, 'ignore': 905, 'fiancé': 663, 'middle': 1118, 'day': 444, 'greeted': 784, 'seated': 1552, 'mandalay': 1077, 'bay': 154, 'waited': 1926, 'forty': 704, 'five': 679, 'vain': 1892, 'crostini': 422, 'stale': 1675, 'highlights': 857, 'nigiri': 1186, 'joint': 960, 'different': 487, 'cut': 436, 'piece': 1321, 'flavored': 683, 'voodoo': 1921, 'since': 1611, 'gluten': 756, 'free': 710, 'several': 1579, 'years': 2022, 'ago': 43, 'unfortunately': 1871, 'must': 1161, 'bakery': 134, 'leftover': 1001, 'relocated': 1463, 'impressed': 914, 'immediately': 912, 'diverse': 514, 'reasonably': 1436, 'priced': 1373, 'avoid': 118, 'cost': 393, 'full': 728, 'hands': 817, 'phoenix': 1317, 'metro': 1114, 'area': 90, 'looking': 1038, 'treated': 1844, 'bacon': 131, 'hella': 845, 'salty': 1522, 'spinach': 1667, 'avocado': 117, 'ingredients': 930, 'sad': 1511, 'literally': 1025, 'zero': 2034, 'used': 1889, 'menus': 1111, 'handed': 813, 'ladies': 983, 'listed': 1024, 'waitresses': 1930, 'lordy': 1040, 'khao': 971, 'soi': 1632, 'missed': 1129, 'terrific': 1773, 'thrilled': 1804, 'accommodations': 29, 'vegetarian': 1901, 'daughter': 443, 'perhaps': 1307, 'caught': 298, 'them': 1783, 'judging': 964, 'reviews': 1480, 'inspired': 933, 'leaves': 999, 'desired': 476, 'modern': 1134, 'hip': 861, 'while': 1975, 'maintaining': 1069, 'coziness': 409, 'weekly': 1960, 'haunt': 829, 'once': 1222, 'sat': 1530, '20': 8, 'asking': 103, 'take': 1749, 'order': 1234, 'flavor': 682, 'overcooked': 1255, 'charcoal': 306, 'decided': 450, 'send': 1563, 'looked': 1037, 'she': 1585, 'verge': 1909, 'having': 832, 'dressed': 540, 'rudely': 1507, 'probably': 1379, 'dirt': 494, 'hits': 865, 'something': 1639, 'healthy': 837, 'lacking': 982, 'quantity': 1407, 'lemon': 1004, 'raspberry': 1418, 'ice': 901, 'cocktail': 346, 'incredible': 921, 'sucked': 1722, 'imagined': 911, 'interesting': 938, 'decor': 452, 'crepe': 419, 'station': 1681, 'hot': 883, 'bread': 230, 'butter': 262, 'home': 868, 'chips': 327, 'bits': 197, 'original': 1238, 'watch': 1946, 'egg': 573, 'gyros': 803, 'missing': 1130, 'wings': 1987, 'feeling': 656, 'satisfied': 1532, 'joey': 958, 'voted': 1922, 'dog': 517, 'valley': 1893, 'readers': 1429, 'magazine': 1064, 'bowl': 224, 'live': 1027, 'fridays': 714, 'blows': 210, 'insulted': 936, 'felt': 661, 'disrespected': 513, 'drive': 548, 'things': 1792, 'exceeding': 613, 'hope': 875, 'dreamed': 538, 'serivce': 1567, 'help': 847, 'brunch': 242, 'inviting': 941, 'lived': 1028, '1979': 7, 'last': 989, 'stepped': 1690, 'foot': 699, 'mixed': 1132, 'mushrooms': 1158, 'yukon': 2031, 'gold': 761, 'puree': 1400, 'white': 1976, 'corn': 389, 'beateous': 160, 'bug': 248, 'showed': 1598, 'given': 750, 'climbing': 341, 'kitchen': 977, 'waiting': 1928, 'her': 850, 'soon': 1643, 'friend': 716, 'tartar': 1755, 'won': 1994, 'though': 1801, 'soggy': 1631, 'jamaican': 951, 'mojitos': 1136, 'small': 1621, 'rich': 1487, 'accordingly': 31, 'shower': 1599, 'rinse': 1492, 'unless': 1875, 'mind': 1125, 'nude': 1199, 'see': 1556, 'lobster': 1031, 'bisque': 192, 'bussell': 259, 'sprouts': 1673, 'risotto': 1494, 'filet': 665, 'needed': 1174, 'pepper': 1302, 'course': 402, 'none': 1192, 'hopefully': 876, 'bodes': 213, 'business': 257, 'someone': 1637, 'cook': 385, 'either': 576, 'cold': 351, 'wrapped': 2014, 'dates': 442, 'unbelievable': 1864, 'bargain': 143, 'folks': 695, 'otto': 1242, 'make': 1070, 'welcome': 1962, 'special': 1658, 'mains': 1068, 'uninspired': 1873, 'stop': 1698, 'whenever': 1971, 'isn': 944, 'then': 1785, 'dealing': 447, 'world': 2004, 'annoying': 67, 'drunk': 551, 'fun': 729, 'chef': 318, 'double': 526, 'cheeseburger': 316, 'single': 1612, 'patty': 1291, 'falling': 640, 'apart': 77, 'picture': 1319, 'uploaded': 1886, 'yeah': 2020, 'couple': 399, 'sporting': 1668, 'events': 605, 'walls': 1933, 'covered': 406, 'tv': 1860, 'possible': 1359, 'descriptions': 474, 'yum': 2032, 'eel': 569, 'yet': 2026, 'mayo': 1089, 'sauces': 1535, 'hardest': 823, 'decision': 451, 'honestly': 872, 'supposed': 1737, 'rolled': 1499, 'eyes': 632, 'stayed': 1683, 'providing': 1393, 'money': 1138, 'flavourful': 687, 'almost': 52, 'building': 249, 'freezing': 711, 'reviewer': 1478, 'couldn': 397, 'close': 342, 'point': 1348, 'flavorful': 684, 'delights': 468, 'ayce': 125, 'lighting': 1014, 'dark': 440, 'set': 1576, 'mood': 1141, 'based': 148, 'sub': 1716, 'par': 1276, 'received': 1439, 'effort': 572, 'show': 1597, 'gratitude': 774, 'owner': 1260, 'privileged': 1378, 'working': 2002, 'creamy': 417, 'parents': 1278, 'most': 1145, 'similar': 1607, 'complaints': 365, 'silently': 1606, 'pizza': 1328, 'peanut': 1295, 'fast': 649, 'godfathers': 759, 'tough': 1835, 'short': 1593, 'sticks': 1692, 'few': 662, 'recall': 1438, 'charged': 308, 'tap': 1753, 'exquisite': 626, 'generous': 742, 'plus': 1346, 'bucks': 245, 'thus': 1807, 'far': 647, 'visited': 1918, 'twice': 1861, 'self': 1562, 'proclaimed': 1381, 'coffee': 350, 'wildly': 1983, 'veggitarian': 1903, 'platter': 1338, 'cant': 281, 'wrong': 2016, 'madison': 1063, 'ironman': 942, 'chefs': 319, 'job': 957, 'from': 720, 'dedicated': 454, 'boba': 212, 'tea': 1763, 'spots': 1670, 'jenni': 954, 'patio': 1288, 'outstanding': 1250, 'goat': 758, 'taco': 1746, 'skimp': 1616, 'mac': 1059, 'bachi': 129, 'stinks': 1694, 'recommend': 1443, 'salads': 1517, 'burned': 254, 'saganaki': 1514, '100': 2, 'hate': 827, 'disagree': 496, 'fellow': 660, 'yelpers': 2025, 'hours': 886, 'pizzas': 1329, 'later': 992, 'why': 1979, 'neighborhood': 1178, 'convenient': 384, 'location': 1033, 'pulled': 1398, 'soooo': 1644, 'incredibly': 922, 'prepared': 1368, 'gave': 738, 'star': 1677, 'rating': 1422, 'please': 1342, 'third': 1796, 'writing': 2015, 'review': 1477, 'stay': 1682, 'stir': 1695, 'fried': 715, 'noodles': 1193, 'chip': 324, 'count': 398, 'box': 225, '12': 4, 'boring': 218, 'greedy': 780, 'corporation': 390, 'dime': 488, 'atrocious': 108, 'summer': 1732, 'charming': 309, 'outdoor': 1246, 'delightful': 467, 'expect': 618, 'toasted': 1816, 'english': 587, 'muffin': 1154, 'untoasted': 1880, 'high': 854, 'house': 887, 'bus': 256, 'boy': 227, 'hand': 812, 'friends': 718, 'basically': 149, 'figured': 664, 'joke': 961, 'making': 1071, 'publicly': 1396, 'loudly': 1044, 'bbq': 155, 'lighter': 1013, 'fare': 648, 'reasonable': 1435, 'pricing': 1376, 'public': 1395, 'ways': 1952, 'two': 1862, 'happy': 821, 'downside': 533, 'without': 1992, 'doubt': 527, 'exceptional': 615, 'months': 1140, 'returned': 1475, 'favorite': 653, 'shawarrrrrrma': 1584, 'black': 198, 'eyed': 631, 'peas': 1298, 'unreal': 1877, 'serve': 1568, 'vinaigrette': 1914, 'seen': 1559, 'especially': 597, '00': 0, 'mom': 1137, 'bites': 196, 'pleasant': 1341, 'honor': 873, 'hut': 899, 'coupons': 401, 'truly': 1852, 'unbelievably': 1865, 'pleased': 1343, 'dirty': 495, 'seat': 1551, 'covers': 407, 'replenished': 1467, 'plain': 1333, 'yucky': 2030, 'standard': 1676, '17': 6, 'omg': 1220, 'delicioso': 463, 'authentic': 115, 'spaghetti': 1657, 'whatsoever': 1968, 'vegetables': 1900, 'feels': 657, 'driving': 549, 'tucson': 1855, 'chipotle': 326, 'classy': 339, 'succulent': 1719, 'baseball': 147, 'brick': 235, 'oven': 1252, 'app': 80, 'multiple': 1156, 'ten': 1768, 'finally': 670, 'terrible': 1772, 'equally': 596, 'shouldn': 1596, 'pancakes': 1272, 'eggs': 575, 'genuinely': 743, 'enthusiastic': 593, 'treat': 1843, 'sadly': 1512, 'gordon': 767, 'ramsey': 1412, 'shall': 1582, 'sharply': 1583, 'evening': 603, 'life': 1011, 'bathroom': 151, 'door': 524, 'offered': 1209, 'tasted': 1758, 'cool': 388, 'turn': 1859, 'else': 579, 'buying': 263, 'handling': 815, 'large': 985, 'rowdy': 1504, 'find': 671, 'despicable': 477, 'soup': 1652, 'lukewarm': 1057, 'craving': 413, 'deserves': 475, 'stomach': 1696, 'ache': 33, 'rest': 1470, 'dropped': 550, 'ball': 136, 'space': 1656, 'tiny': 1811, 'elegantly': 577, 'comfortable': 359, 'customize': 435, 'usual': 1890, 'eggplant': 574, 'green': 782, 'bean': 157, 'fry': 725, 'beans': 158, 'outta': 1251, 'part': 1279, 'inconsiderate': 920, 'says': 1540, 'hi': 853, 'dinners': 492, 'outshining': 1248, 'halibut': 809, 'told': 1819, 'happened': 819, 'car': 284, 'breaks': 233, 'front': 721, 'starving': 1680, '90': 21, 'disgrace': 505, 'def': 457, 'ethic': 600, 'continue': 383, 'andddd': 65, 'date': 441, 'anyone': 72, 'past': 1284, 'stuffed': 1712, 'located': 1032, 'crystals': 429, 'shopping': 1591, 'mall': 1072, 'aria': 93, 'summarize': 1730, 'nay': 1170, 'transcendant': 1841, 'brings': 237, 'joy': 962, 'memory': 1108, 'pneumatic': 1347, 'condiment': 373, 'dispenser': 512, 'ians': 900, 'kids': 974, 'lots': 1043, 'options': 1232, 'kiddos': 973, 'perfect': 1303, 'family': 642, 'perfection': 1304, 'impeccable': 913, 'simply': 1610, 'disappointment': 500, 'bouchon': 222, 'accountant': 32, 'screwed': 1545, 'reminds': 1466, 'pop': 1354, 'shops': 1592, 'san': 1525, 'francisco': 708, 'buldogis': 250, 'gourmet': 770, 'frustrated': 724, 'petty': 1313, 'total': 1830, 'iced': 902, 'hungry': 896, 'assure': 104, 'trying': 1854, 'teeth': 1765, 'sore': 1647, 'completely': 367, 'enjoyed': 590, 'become': 165, 'regular': 1456, 'needs': 1176, 'professional': 1382, 'until': 1879, 'end': 585, 'dinner': 491, 'companions': 362, 'ground': 792, 'smeared': 1624, 'tracked': 1838, 'everywhere': 610, 'pile': 1322, 'bird': 189, 'poop': 1351, 'furthermore': 732, 'operation': 1228, 'website': 1956, 'mistake': 1131, 'expert': 625, 'connisseur': 374, 'topic': 1827, 'jerk': 955, 'strike': 1706, 'wants': 1936, 'rushed': 1509, 'nicest': 1184, 'owners': 1261, 'across': 35, 'biscuits': 191, 'appetizer': 85, '40': 14, 'absolutley': 27, 'awkward': 123, '5lb': 18, 'cow': 408, '4ths': 17, 'gristle': 788, 'fat': 650, 'steiners': 1688, 'bar': 140, 'dollars': 519, 'anyway': 75, 'fs': 726, 'week': 1958, 'mention': 1109, 'combination': 355, 'pears': 1297, 'almonds': 51, 'big': 184, 'winner': 1988, 'spicier': 1665, 'prefer': 1366, 'ribeye': 1485, 'mesquite': 1112, 'anytime': 74, 'gooodd': 766, 'connoisseur': 375, 'difference': 486, 'certainly': 301, 'contained': 381, 'driest': 543, 'mouthful': 1148, 'enjoyable': 589, 'relaxed': 1461, 'venue': 1908, 'couples': 400, 'groups': 794, 'etc': 599, 'nargile': 1168, 'tater': 1762, 'tots': 1832, 'southwest': 1655, 'paid': 1266, 'vanilla': 1895, 'smooth': 1628, 'profiterole': 1383, 'choux': 330, 'pastry': 1287, 'im': 907, 'az': 1

In [ ]:
X = cv.transform(X)
print(X)

  (0, 1046)	1
  (0, 1330)	1
  (0, 1798)	1
  (0, 2012)	1
  (1, 427)	1
  (1, 764)	1
  (1, 943)	1
  (1, 1195)	1
  (2, 64)	1
  (2, 967)	1
  (2, 1169)	1
  (2, 1195)	1
  (2, 1761)	1
  (2, 1774)	1
  (2, 1780)	1
  (2, 1940)	1
  (3, 64)	1
  (3, 139)	1
  (3, 264)	1
  (3, 557)	1
  (3, 867)	1
  (3, 945)	1
  (3, 991)	1
  (3, 1046)	1
  (3, 1087)	1
  :	:
  (999, 100)	1
  (999, 236)	1
  (999, 264)	1
  (999, 312)	1
  (999, 537)	1
  (999, 591)	1
  (999, 806)	1
  (999, 904)	1
  (999, 916)	1
  (999, 945)	1
  (999, 1011)	1
  (999, 1162)	1
  (999, 1207)	1
  (999, 1245)	1
  (999, 1363)	1
  (999, 1521)	1
  (999, 1780)	3
  (999, 1785)	1
  (999, 1786)	1
  (999, 1788)	1
  (999, 1809)	1
  (999, 1814)	1
  (999, 1825)	1
  (999, 1944)	1
  (999, 2011)	1

In [ ]:
# Spliting trian/test 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=284)

In [ ]:
# No hyperparameter tuning
from sklearn.naive_bayes import MultinomialNB
nb= MultinomialNB()
nb.fit(X_train, Y_train)
predictions = nb.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, predictions))
print('/n')
print(classification_report(Y_test, predictions))

[[80 33]
 [17 70]]
/n
              precision    recall  f1-score   support

           0       0.82      0.71      0.76       113
           1       0.68      0.80      0.74        87

    accuracy                           0.75       200
   macro avg       0.75      0.76      0.75       200
weighted avg       0.76      0.75      0.75       200

In [ ]:
# Outputting incorrect observations
misclassified_1 = np.where(Y_test != predictions)
df_mis = df_yelp.iloc[misclassified_1]
df_mis.head(10)

                                               review  is_positive
2           not tasty and the texture was just nasty.            0
7   the potatoes were like rubber and you could te...            0
8                           the fries were great too.            1
13  i tried the cape cod ravoli, chicken,with cran...            1
18  this place is not worth your time, let alone v...            0
20                                the burrittos blah!            0
27  this hole in the wall has great mexican street...            1
35  the only redeeming quality of the restaurant w...            1
36                    ample portions and good prices.            1
40                       the shrimp tender and moist.            1

In [ ]:
# Using multinomial naive bayes with hyperparameter tuning
from sklearn.naive_bayes import MultinomialNB
nb= MultinomialNB(alpha=.8)
nb.fit(X_train, Y_train)

MultinomialNB(alpha=0.8)

In [ ]:
predictions = nb.predict(X_test)

In [ ]:
predictions

array([0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1])

In [ ]:
print(confusion_matrix(Y_test, predictions))
print('/n')
print(classification_report(Y_test, predictions))

[[81 32]
 [17 70]]
/n
              precision    recall  f1-score   support

           0       0.83      0.72      0.77       113
           1       0.69      0.80      0.74        87

    accuracy                           0.76       200
   macro avg       0.76      0.76      0.75       200
weighted avg       0.77      0.76      0.76       200

In [ ]:
# Outputting incorrect observations
misclassified_2 = np.where(Y_test != predictions)
df_mis = df_yelp.iloc[misclassified_2]
df_mis.head(10)

                                               review  is_positive
8                           the fries were great too.            1
13  i tried the cape cod ravoli, chicken,with cran...            1
18  this place is not worth your time, let alone v...            0
20                                the burrittos blah!            0
27  this hole in the wall has great mexican street...            1
35  the only redeeming quality of the restaurant w...            1
36                    ample portions and good prices.            1
40                       the shrimp tender and moist.            1
46          it's too bad the food is so damn generic.            0
47        the burger is good beef, cooked just right.            1

### Gaussain NaiveBayes

In [ ]:
# Using Gaussain naive bayes
from sklearn.naive_bayes import GaussianNB
gb = GaussianNB()
gb.fit(X_train.toarray(), Y_train)

GaussianNB()

In [ ]:
# Identifying prior probabilites assigned by default
gb.class_prior_

array([0.48375, 0.51625])

In [ ]:
# Train accuracy
gb.score(X_train.toarray(), Y_train)

0.95375

In [ ]:
predictions = nb.predict(X_test.toarray())
predictions

array([0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1])

In [ ]:
print(confusion_matrix(Y_test, predictions))
print('/n')
print(classification_report(Y_test, predictions))

[[81 32]
 [17 70]]
/n
              precision    recall  f1-score   support

           0       0.83      0.72      0.77       113
           1       0.69      0.80      0.74        87

    accuracy                           0.76       200
   macro avg       0.76      0.76      0.75       200
weighted avg       0.77      0.76      0.76       200

In [ ]:
from sklearn.model_selection import cross_validate, GridSearchCV
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
gs_NB = GridSearchCV(estimator=gb, 
                 param_grid=params_NB, 
                 cv=3,  
                 verbose=1, 
                 scoring='accuracy')

In [ ]:
gs_NB.fit(X_train.toarray(), Y_train)
gs_NB.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits

{'var_smoothing': 0.006579332246575682}

In [ ]:
gb_new = GaussianNB(priors = [0.7, 0.3], var_smoothing = 0.006)
gb_new.fit(X_train.toarray(), Y_train)
pred_new = gb_new.predict(X_test.toarray())

In [ ]:
gb_new.score(X_train.toarray(), Y_train)

0.94625

In [ ]:
print(confusion_matrix(Y_test, pred_new))
print('/n')
print(classification_report(Y_test, pred_new))

[[56 57]
 [13 74]]
/n
              precision    recall  f1-score   support

           0       0.81      0.50      0.62       113
           1       0.56      0.85      0.68        87

    accuracy                           0.65       200
   macro avg       0.69      0.67      0.65       200
weighted avg       0.70      0.65      0.64       200

In [ ]:
misclassified = np.where(Y_test != pred_new)

In [ ]:
misclassified

(array([  0,   2,   4,   7,   8,  13,  27,  30,  35,  36,  40,  41,  46,
         48,  49,  51,  53,  58,  59,  61,  62,  68,  73,  75,  76,  79,
         84,  86,  88,  91,  95,  99, 101, 105, 111, 112, 113, 115, 118,
        119, 123, 125, 126, 129, 132, 135, 136, 145, 146, 150, 152, 155,
        160, 161, 164, 168, 170, 173, 174, 180, 185, 187, 188, 190, 191,
        192, 193, 194, 195, 199]),)

In [ ]:
df_yelp['review'][0]

'wow... loved this place.'

In [ ]:
df_mis = df_yelp.iloc[misclassified]

In [ ]:
df_mis.head(10)

                                               review  is_positive
0                            wow... loved this place.            1
2           not tasty and the texture was just nasty.            0
4   the selection on the menu was great and so wer...            1
7   the potatoes were like rubber and you could te...            0
8                           the fries were great too.            1
13  i tried the cape cod ravoli, chicken,with cran...            1
27  this hole in the wall has great mexican street...            1
30  also there are combos like a burger, fries, an...            1
35  the only redeeming quality of the restaurant w...            1
36                    ample portions and good prices.            1